body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #444;
  padding: 15px;
  text-align: left;
}

.name-home-button {
  font-size: large;

}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
}

.flex-item {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
}

nav {
  display: flex;
  justify-content: right;
  background-color: #333;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}



p {
  color: #333; /* Set a default color for paragraphs */
  white-space: pre-line; /*Preserve newline characters within text*/
}